name: Publish Package

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 25
          registry-url: 'https://registry.npmjs.org'

      - name: npm publish with provenance
        run: npm install -g pnpm
      - run: pnpm install
      - run: pnpm build
      - run: pnpm test
      - run: npm publish
